In [ ]:
import pandas as pd
import numpy as np

# Series and Dataframes

### The pandas library has two main objects which serve as containers for our data:

#### 1.a one-dimensional labeled array called Series
#### 2.a two-dimensional labeled array called DataFrame

## Series

In [ ]:
my_Series = pd.Series([1,'cat',10.2,'dog'])

In [ ]:
my_Series

In [ ]:
my_Series[1]

In [ ]:
ages = pd.Series([20,53,68], index=['John', 'Allen', 'Mary'])

In [ ]:
ages

In [ ]:
ages['John']

In [ ]:
# Users of R or Excel might recognize this as something that looks like a data table. 
# And indeed, this is the purpose of the index. 
#In order to get the full functionality of a data table, however, we need to allow more than one axis.

# Dataframes

The general syntax for defining a DataFrame is the following:

pd.DataFrame({ 'label1' : [col1], 'label2': [col2], .... })

In [ ]:
df = pd.DataFrame( {'user' : [1,2,3],
            'age' : [24,54,17],
            'sex' : ['F','F','M'],
            'occupation' : ['technician','musician','student']})

In [ ]:
df

In [ ]:
df.set_index('user')

In [ ]:
df

## Inplace changes

In [ ]:
df.set_index('user', inplace = True)

In [ ]:
df

# Importing data

df = pd.read_csv('file_name.csv')

df = pd.read_csv('file_name.csv', header=None)

df = pd.read_csv('file_name.csv', names=['Header1', 'Header2', ....])

df = pd.read_csv('file_name.csv', na_values=['?'])

df = pd.read_excel('file_name.xls')

Other supported files include JSON, HTML, SAS, and SQL.

# Summarizing data

In [ ]:
df

In [ ]:
df.head(2)

In [ ]:
df.tail(1)

In [ ]:
df.info()

In [ ]:
df.index

In [ ]:
#displaying the number of rows
df.shape[0]

In [ ]:
#displaying the number of columns
df.shape[1]

In [ ]:
#displaying the labels of all the columns
df.columns

In [ ]:
#displaying the data types of each column
df.dtypes

In [ ]:
#summarizing the data
df.describe()

In [ ]:
df

In [ ]:
df['occupation']

# Manipulating the data

In [ ]:
df = pd.DataFrame(np.arange(9).reshape(3,3), columns=['a','b', 'c'])
df

## Dropping data

In [ ]:
# dropping rowa
df.drop(0, axis=0)

In [ ]:
# dropping first and second row
df.drop([0,2], axis=0)

In [ ]:
# And to drop columns we just specify the label instead of the index 
# and tell pandas we are referring to the second axis now:
df.drop(['b','c'], axis=1)

In [ ]:
df

## Arithmetic operations

In [ ]:
df.a + df.b

In [ ]:
df['a'] + df['b']

In [ ]:
df.a.add(df.b)

Pandas also provides similar methods for the other operations:

### sub()
### div()
### mul()

## Concatenating DataFrames

In [ ]:
df1= pd.DataFrame([['Mark', 50], ['Kate', 46]],
                 columns=['name', 'age'])

In [ ]:
df2 = pd.DataFrame([['Jon', 3], ['David', 4]],
                columns=['name', 'age'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1,df2])

In [ ]:
df3 = pd.DataFrame(['writer', 'journalist'], columns=['occupation'])
df3

In [ ]:
pd.concat([df1,df3])

In [ ]:
pd.concat([df1,df3], axis=1)

# Indexing, selecting and filtering

In [ ]:
df = pd.read_csv('data/Mountains.csv', index_col=0)
df

In [ ]:
df.set_index('Mountain', inplace=True)
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.Range

In [ ]:
df['Height (m)']

In [ ]:
# multiple columns
df[['Height (m)', 'Range', 'Coordinates']]

In [ ]:
df[2:8]

In [ ]:
df.head(10)

In [ ]:
df['Lhotse':'Manaslu']

# The iloc operator to select rows and columns by position

df.iloc[rows, columns]

## single position value, e.g. 3
## a list of position values, e.g. [3,5,8]
## a slice of position values, e.g. 3:8
## the : symbol to select all the rows and/or columns

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[3,5]

In [ ]:
df.head()

In [ ]:
df.iloc[3:8]

In [ ]:
df.iloc[:, 2:6]

In [ ]:
df.iloc[::2, 2:]

# The loc operator to select rows and columns by label

df.loc[rows, columns]

In [ ]:
df.loc[:,'Height (m)':'First ascent']

In [ ]:
df.loc[:,'Height (m)':'First ascent':2]

# Boolean selection

In [ ]:
df['Height (m)'] > 8000

In [ ]:
df[df['Height (m)'] > 8000]

In [ ]:
df[(df['Height (m)'] > 8000) & (df['Range']=='Mahalangur Himalaya')]

In [ ]:
df.loc[(df['Height (m)'] > 8000) & (df['Range']=='Mahalangur Himalaya'), :]

In [ ]:
df.loc[(df['Height (m)'] > 8000) & (df['Range']=='Mahalangur Himalaya'), 'Height (m)':'Range']

# Applying functions

### The map() method

In [ ]:
df = pd.DataFrame( {'user' : [1,2,3], 'age' : [24,54,17],
                    'sex' : ['F','F','M'],
                    'occupation' : ['technician','musician','student']})
df

In [ ]:
df['sex'] = df.sex.map({'F':'Female', 'M':'Male'})
df

### The apply() method

In [ ]:
def dog_years(x):
    return x // 7

In [ ]:
df['age_dog_years'] = df['age'].apply(dog_years)
df

In [ ]:
df2 = pd.DataFrame(np.arange(9).reshape(3,3), columns=['a','b', 'c'])
df2

In [ ]:
def my_sum(x):
    return sum(x)

In [ ]:
# along axis 0 meaning down the data frame which will return the sum along each column
df2.apply(my_sum, axis=0)

In [ ]:
# along axis 1 meaning across the data frame which will return the sum along each row
df2.apply(my_sum, axis=1)

In [ ]:
# finds the maximum entry in each row 
df2.apply(np.max, axis = 1)

In [ ]:
#find2 the mean of each column
df2.apply(np.mean, axis = 0)

### The applymap() method

In [ ]:
def add_two(x):
    return x+2

In [ ]:
df2.applymap(add_two)

# Sorting

In [ ]:
df = pd.DataFrame({'A':[3,6,1,12,3],'B':[0,0,7,5,6],'C':[10,4,5,8,2]})
df

### Sort by index

In [ ]:
df.sort_index()

In [ ]:
df.sort_index(ascending=False)

In [ ]:
df.sort_index(ascending=False, axis=1)

### Sort by values

In [ ]:
df.A.sort_values()

In [ ]:
df.sort_values('A')

In [ ]:
df.sort_values(['A','C'])

# Grouping

In [ ]:
df = pd.DataFrame({
       'A' : ['dog', 'cat', 'dog', 'cat', 'dog', 'cat', 'dog', 'dog'],
       'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
       'C' : np.random.randint(10, size=8)})
df

In [ ]:
df.C.mean()

In [ ]:
df.groupby('A').C.mean()

In [ ]:
df[df.A=='dog'].C.mean()

# Handling missing values

In [ ]:
df = pd.DataFrame(np.random.randint(10, size=(3, 3)), index=['a', 'c', 'e'], columns=['A', 'B', 'C'])
df

In [ ]:
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f'])
df2

# isnull() method

In [ ]:
df2.isnull()

In [ ]:
df2.isnull().sum()

In [ ]:
df2.isnull().sum(axis=1)

In [ ]:
df2[df2.A.isnull()]

# dropna() method

In [ ]:
df2.dropna()

In [ ]:
df2

In [ ]:
# drop a row if it has a missing value in all of the columns
df2.dropna(how='all')

In [ ]:
# drop a row if it has a missing value in column 'A'
df2.dropna(subset=['A'])

In [ ]:
# drop a row if it has a missing value in column 'A' or column B
df2.dropna(subset=['A','B'])

# fillna() method

In [ ]:
df2.fillna(value=0)